.buy-button{
	text-align:center
}
.order-list th{
	width: 200px;
	background-color: #98fd98;
}
.product-table th{
	width:150px;
	background-color: #98fd98;
}

.order-form th{
	text-align:center;
	width: 200px;
	background-color: #98fd98;
}
.order{
	text-align:center;
}